.properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.property-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.property-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* PropertyDetail styles*/
.property-detail {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-content h1 {
  margin-bottom: 1rem;
}

/* Filters Style */

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filters select, .filters input { 
  padding: 0.6rem 0.8rem;
  font-family: inherit;
}

